@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  background-color: black;
  height: 90px;
  margin-bottom: 0;
  grid-area: footer; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 30px; }
  .redesSociales li {
    list-style: none; }
    .redesSociales li a img {
      margin-top: 20px; }

.icon {
  width: 100%;
  height: 40px; }

header {
  background-color: black;
  position: relative;
  height: 100px;
  grid-area: header; }

.logoAdidas img {
  width: 5%;
  height: 70px;
  background-color: #f3f9fa;
  border-radius: 300%;
  position: absolute;
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  display: grid; }
  .logoAdidas img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Inter Tight', sans-serif; }
  .navBar li {
    list-style: none;
    margin-top: 30px;
    margin-right: 60px; }
    .navBar li a {
      text-decoration: none;
      color: white; }

.navBarMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Inter Tight', sans-serif; }

#menu, #menu-check {
  display: none; }

.seccion:hover {
  transform: scale(1.2, 1.2);
  transition: transform 1s; }

.seccion a:hover {
  color: rgba(102, 129, 189, 0.957); }

main {
  grid-area: main; }

h2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px; }

.colecciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr) 30px;
  grid-template-areas: "header header header header" "main   main   main   main" "footer footer footer footer"; }

@media (max-width: 576px) {
  /*index*/
  .container {
    width: 576px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas: "header" "main" "footer"; }
  .logoAdidas img {
    width: 9%;
    height: 50px;
    background-color: #f3f9fa;
    border-radius: 100%;
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    display: grid; }
  .headerIndex {
    background-image: url("../assets/img/rectangle-mobile.png");
    width: 576px;
    height: 100px; }
  #menu-check:not(:checked) ~ .navBar {
    display: none; }
    #menu-check:not(:checked) ~ .navBar a {
      display: none; }
  #menu {
    display: flex;
    color: #070707;
    font-size: 1.2em;
    margin-top: 10px; }
  #menu-cerrar {
    display: none; }
  #menu-check:checked nav {
    display: flex; }
  #menu-check:checked label #menu-abrir {
    display: none; }
  #menu-check:checked label #menu-cerrar {
    display: flex; }
  .navBar {
    display: flex;
    width: 25%;
    margin-right: 0;
    background-color: #e4e2e0;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    gap: 0; }
    .navBar li a {
      color: #915555;
      font-size: 18px;
      gap: 1px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 2px;
      display: flex; }
  .navBarMenu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 20px; }
  .colecciones {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    row-gap: 40px; }
  .uno img {
    width: 280px;
    height: 280px; }
  .dos img {
    width: 280px;
    height: 280px; }
  main {
    margin-top: 60px; }
  /*mujer hombre sale = sin terminar no supe seguir*/
  .container-tienda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60% 20%;
    grid-template-areas: "header " "main " "footer "; } }

@media (max-width: 768px) {
  /*index*/
  .container {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  .logoAdidas img {
    width: 8%;
    height: 60px;
    background-color: #f3f9fa;
    border-radius: 100%;
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    display: grid; }
  main {
    margin-top: 15px;
    margin-bottom: 10px; }
  .headerIndex {
    background-image: url("../assets/img/rectangle-tablet.png");
    height: 200px;
    width: 100%; }
  #menu-check:not(:checked) ~ .navBar {
    display: none; }
    #menu-check:not(:checked) ~ .navBar a {
      display: none; }
  #menu-check:checked nav {
    display: flex; }
  #menu-check:checked label #menu-abrir {
    display: none; }
  #menu-check:checked label #menu-cerrar {
    display: flex; }
  #menu {
    display: flex;
    color: white;
    font-size: 1.2em;
    margin-top: 10px; }
  #menu-cerrar {
    display: none; }
  .navBar {
    display: flex;
    width: 20%;
    margin-right: 0;
    background-color: #e4e2e0;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    gap: 0; }
    .navBar li a {
      color: #915555;
      font-size: 20px;
      gap: 1px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 2px;
      display: flex; }
  .navBarMenu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 30px; }
  .colecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    row-gap: 10px; }
  .uno img {
    width: 300px;
    height: 300px; }
  .dos img {
    width: 300px;
    height: 300px; }
  .tres {
    display: none; }
  /*mujer hombre sale*/
  .container-tienda {
    width: 768%;
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header header header " "main main main " "footer footer footer"; }
  .container-main {
    width: 768%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas: "forms forms" "tiendauno tiendauno" "tiendados tiendados"; }
  .formBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .dos-3 {
    display: none; }
  .uno-3 {
    display: none; } }

.headerIndex {
  background-image: url("../assets/img/rectangle3.png");
  width: 100%;
  height: 440px;
  overflow: visible; }

.form fieldset {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100px;
  height: 50vh;
  justify-content: space-evenly;
  border-style: none;
  margin-top: 5px; }

.formBar {
  grid-area: forms; }

.filtro {
  width: 100%;
  background: #0583b9;
  background: linear-gradient(90deg, #af2424 0%, rgba(250, 62, 84, 0.575) 61%, #e78484 100%);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-left: 10px; }

.filtros-2 {
  margin-left: 25px; }

.tienda {
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 60px; }

.tienda .uno {
  grid-area: tiendauno;
  display: flex;
  width: 100%;
  grid-column: 2 /3; }

.tienda .dos {
  grid-area: tiendados;
  width: 100%;
  display: flex;
  grid-column: 2 /3; }

.card {
  display: flex;
  height: 300px; }
  .card:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s; }

.container-main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "forms tiendauno" "forms tiendados"; }

.container-tienda {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(2, 1fr) 30px;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }

h3 {
  font-style: italic; }
  h3:hover {
    transform: translate(10px, 10px);
    transition: transform 2s; }

.registro {
  background-color: #f2bbc3;
  height: 100px;
  width: 80%; }

.inputs {
  display: flex;
  justify-content: row;
  margin-left: 10px;
  margin-top: 10px; }

.infoCompra
div img p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.vacio p {
  display: flex;
  font-family: 'Inter Tight', sans-serif; }

.imgbolsa:hover {
  transform: translateY(5px);
  transition: transform 2s; }

/*
@import "";
@import ""; */
