@media (max-width:576px) {
    /*index*/
    .container {
        width: 100%;
        display:grid ;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 85% 5%;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    header {
        height: 80px;
    }
    .logoAdidas img{
        width: 9%;
        height: 50px;
        background-color: rgb(243, 249, 250);
        border-radius: 100%;
        position: absolute;
        display: flex;
        margin-left: 30px;
        margin-top: 15px;
        display: grid;
    }
    .headerIndex {
        background-image: url("../assets/img/rectangle-mobile.png");
        width: 576px;
        height: 180px;
    }
    #menu-check:not(:checked) ~ .navBar  {
        display: none;
        a {
            display: none;
        }
    }
    #menu {
        display: flex;
        color: rgb(253, 251, 251);
        font-size: 0.9em;
        margin-top: 10px;
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked {
        nav {
            display: flex;
        }
        label #menu-abrir {
            display: none;
        }
        label #menu-cerrar {
            display: flex;
        }
    }
    .navBar  {
        display: flex;
        width: auto;
        background-color: rgb(228, 226, 224); 
        flex-direction: column;
        align-items: flex-end;
        li a {
            color: rgb(145, 85, 85);
            font-size: 14px;
            gap:inherit;
            margin-left: 2px;
            display: flex;
        }
    }
    .navBarMenu {
        display: flex;
        align-items: flex-end ;
        flex-direction: column;
        margin-right: 20px;
        
    }
    .colecciones {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        row-gap: 40px;
    }
    .uno img {
        width: 280px;
        height: 280px;
    }
    .dos img {
        width: 280px;
        height: 280px;
    }
    main {
        margin-top: 60px;
    }
    footer {
        height: 80px;
    }
    /*mujer hombre sale*/
    /*
    .container-tienda {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60% 20%;
        grid-template-areas:
        "header "
        "main "
        "footer ";
    } */
    .tienda {
        display: flex;
        flex-direction: column;
    }

    /*micarrito*/
    .imgbolsa {
        width: 150px;
        height: 150px;
        display: flex;
    }
    .mapa {
        div {
            iframe {
                width: 150px;
                height: 150px;
                display: flex;
            }
        }
    }
    .registro {
        width: 100%;
        height: 85px;
        margin-left: 2px; 
    }
    .inputs {
        margin-left: 2px;
    }
    .container-carrito {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 35% 35% 20%;
        grid-template-areas:
        "header"
        "main "
        "main"
        "footer";
    }
    
}